body {
    background-color: #142049;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
    border-radius: 15px;
    background-color: #282e33;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    width: 90%;
}

h1 {
    color: #b174bd;
    margin-bottom: 20px;
}

button {
    background-color: #b174bd;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9b5aab;
}